<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Usager</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/add" routerLinkActive="active">Ajouter Usager</a>
        </li>
        <li class="nav-item">
          <a routerLink="/usagers" routerLinkActive="active">Liste usager</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Oeuvre</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addLivre" routerLinkActive="active">Ajouter livre</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addMagazine" routerLinkActive="active">Ajouter magazine</a>
        </li>
        <li class="nav-item">
          <a routerLink="/oeuvres" routerLinkActive="active">Liste oeuvre</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="card-body">

    <div class="container text-center">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>

    <h3>Créer magazine</h3>

    <div style="margin-bottom:40px" class="d-flex flex-row">

      <div style='width: 400px;margin-right:60px'>
        <div class="form-group">
          <label for="name">Titre</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="oeuvre.titre" name="Titre">
        </div>
        <div class="form-group">
          <label for="num">Numero</label>
          <input type="text" class="form-control" id="num" required [(ngModel)]="magazine.numero" name="Numero">
        </div>
        <label >Périodicité</label>
        <select style="margin-bottom:20px;" class="browser-default custom-select" [(ngModel)]="magazine.periodicite">
          <option selected>Choisir</option>
          <option value="1">Quotidien</option>
          <option value="2">Hebdomadaire</option>
          <option value="3">Mensuel</option>
          <option value="3">Semestriel</option>
          <option value="3">Annuel</option>
        </select>
        <label>Date parution (AAAA-MM-JJ)</label>
        <div class="form-group">
          <input type="date" [(ngModel)]="date_parution"/>
        </div>
        <button style="margin-top:20px;height: 40px" (click)="createMagazine()"  class="btn btn-success text-center mt-auto">Ajouter magazine</button>
      </div>
    </div>
  </div>
</div>

