<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Usager</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/add" routerLinkActive="active">Ajouter Usager</a>
        </li>
        <li class="nav-item">
          <a routerLink="/usagers" routerLinkActive="active">Liste usager</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Oeuvre</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addLivre" routerLinkActive="active">Ajouter livre</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addMagazine" routerLinkActive="active">Ajouter magazine</a>
        </li>
        <li class="nav-item">
          <a routerLink="/oeuvres" routerLinkActive="active">Liste oeuvre</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card-body">
    <div class="container text-center">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
    <h3>Créer un usager</h3>

    <div [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="usager.nom" name="nom">
        </div>

        <div class="form-group">
          <label for="name">Prénom</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="usager.prenom" name="prenom">
        </div>

        <div class="form-group">
          <label for="name">Adresse</label>
          <input type="text" class="form-control" id="phone" required [(ngModel)]="usager.adresse" name="adresse">
        </div>
        <div class="form-group">
          <label for="name">Téléphone</label>
          <input type="text" class="form-control" id="department" required [(ngModel)]="usager.telephone" name="telephone">
        </div>

        <button style='margin-right:16px' class="btn btn-success">Enregistrer</button>
        <button style='margin-right:16px' routerLink="/back" routerLinkActive="active" class="btn btn-success">Retour</button>

      </form>
    </div>
  </div>
</div>

