<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Emprunt</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addEmprunt" routerLinkActive="active">Créer un emprunt</a>
        </li>
        <li class="nav-item">
          <a routerLink="/emprunts" routerLinkActive="active">Voir les emprunts</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Réservation</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addReservation" routerLinkActive="active">Ajouter réservation</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reservations" routerLinkActive="active">Liste réservation</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<style>
  .div {
    height:500px;
    width:420px;
    background-color: gainsboro;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 0px 40px;
    cursor: pointer;
  }
</style>

<style>
  .button {
    height:150px;
    width:300px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 0px 40px;
    margin-top: 30px;
    cursor: pointer;
  }
</style>

<div class="container">
  <div class="card-body">
    <h1 style="text-align: center">Bibliotheque municipale de Nancy</h1>
    <div class="container" style="margin-top:75px;text-align: center">
      <div class="div pull-left">
        <h2 style="margin-top:20px">Emprunt</h2>
        <button routerLink="/addEmprunt" routerLinkActive="active" class="btn btn-secondary button">Ajouter emprunt</button>
        <button routerLink="/emprunts" routerLinkActive="active" class="btn btn-secondary button">Liste emprunt</button>
      </div>
      <div class="div pull-right">
        <h2 style="margin-top:20px">Réservation</h2>
        <button routerLink="/addReservation" routerLinkActive="active" class="btn btn-secondary button">Ajouter réservation</button>
        <button routerLink="/reservations" routerLinkActive="active" class="btn btn-secondary button">Liste réservation</button>
      </div>
    </div>
  </div>
</div>
