<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Emprunt</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addEmprunt" routerLinkActive="active">Créer un emprunt</a>
        </li>
        <li class="nav-item">
          <a routerLink="/emprunts" routerLinkActive="active">Voir les emprunts</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Réservation</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addReservation" routerLinkActive="active">Ajouter réservation</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reservations" routerLinkActive="active">Liste réservation</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="card-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Liste oeuvre</h2>
      </div>
      <div class="panel-body">
        <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

          <thead>
          <tr>
            <th >Titre</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let oeuvre of oeuvres | async">
            <td>{{oeuvre.titre}}</td>
            <td>
              <button style='margin-right:16px' (click)="selectionExemplaireEmprunt(oeuvre.id)" class="btn btn-primary">Séléctionner</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <button style='margin-right:16px' routerLink="/addEmprunt" routerLinkActive="active"  class="btn btn-success">Retour</button>
    </div>
  </div>
</div>
