<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Usager</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/add" routerLinkActive="active">Ajouter Usager</a>
        </li>
        <li class="nav-item">
          <a routerLink="/usagers" routerLinkActive="active">Liste usager</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Oeuvre</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addLivre" routerLinkActive="active">Ajouter livre</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addMagazine" routerLinkActive="active">Ajouter magazine</a>
        </li>
        <li class="nav-item">
          <a routerLink="/livres" routerLinkActive="active">Liste livre</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card-body">
    <div class="container text-center">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
    <h3>Modifier livre</h3>
    <div style='width: 400px;margin-right:60px'>
      <div class="form-group">
        <label for="name">Titre</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="oeuvre.titre" name="Titre">
      </div>
      <label for="comment">Resumé</label>
      <textarea style="margin-bottom:20px;" class="form-control" rows="5" id="comment" required [(ngModel)]="livre.resume" name="Resume"></textarea>
      <label for="name">Date édition (AAAA-MM-JJ)</label>
      <div class="form-group">
        <input type="date" class="form-control" id="date" required [(ngModel)]="livre.date_edition" name="date">
      </div>
      <label for="auteur">Auteur</label>
      <div class="form-group">
        <input type="date" class="form-control" id="auteur" required [(ngModel)]="livre.auteur" name="auteur">
      </div>
      <button style="margin-top:20px;height: 40px" (click)="updateLivre()"  class="btn btn-success text-center mt-auto">Modifier</button>
      <button style='margin-left:20px' (click)="retour()"  class="btn btn-success">Retour</button>
    </div>
  </div>
</div>
