<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Emprunt</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addEmprunt" routerLinkActive="active">Créer un emprunt</a>
        </li>
        <li class="nav-item">
          <a routerLink="/emprunts" routerLinkActive="active">Voir les emprunts</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Réservation</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addReservation" routerLinkActive="active">Ajouter réservation</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reservations" routerLinkActive="active">Liste réservation</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card-body">
    <div class="panel panel-primary">

      <div class="container text-center">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>

      <div class="panel-heading">
        <h2>Rendre le livre</h2>
      </div>

      <div class="panel-body">

        <div style="margin-bottom:40px" class="d-flex flex-row">

          <div style='margin-right:60px'>
            <label>Etat de l'oeuvre</label>
            <select style="margin-bottom:20px;" class="browser-default custom-select" [(ngModel)]="choix">
              <option selected>Choisir</option>
              <option value="Bon état">Bon état</option>
              <option value="Mauvais état">Mauvais état</option>
            </select>
          </div>

          <div class="d-flex flex-column" style='margin-right:20px'>
            <button style="height: 40px" (click)="isEtat()"  class="btn btn-danger text-center mt-auto">Fin emprunt</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

