<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Usager</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/add" routerLinkActive="active">Ajouter Usager</a>
        </li>
        <li class="nav-item">
          <a routerLink="/usagers" routerLinkActive="active">Liste usager</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Oeuvre</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addLivre" routerLinkActive="active">Ajouter livre</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addMagazine" routerLinkActive="active">Ajouter magazine</a>
        </li>
        <li class="nav-item">
          <a routerLink="/oeuvres" routerLinkActive="active">Liste oeuvre</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<style>
  .div {
    height:500px;
    width:420px;
    background-color: gainsboro;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 0px 40px;
    cursor: pointer;
  }
</style>

<style>
  .div2 {
    height:200px;
    width:200px;
    background-color: gainsboro;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 0px 40px;
    cursor: pointer;
  }
</style>

<style>
  .button2 {
    height:150px;
    width:140px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 0px 20px;
    margin-top: 30px;
    cursor: pointer;
  }
</style>

<style>
  .button {
    height:150px;
    width:300px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 0px 40px;
    margin-top: 30px;
    cursor: pointer;
  }
</style>

<div class="container">
  <div class="card-body">
    <h1 style="text-align: center">Bibliotheque municipale de Nancy</h1>
    <div class="container" style="margin-top:75px;text-align: center">

      <div class="div pull-left">
        <h2 style="margin-top:20px">Usager</h2>
        <button routerLink="/add" routerLinkActive="active" class="btn btn-secondary button">Ajouter usager</button>
        <button routerLink="/usagers" routerLinkActive="active" class="btn btn-secondary button">Liste usagers</button>
      </div>

      <div class="div pull-right">
        <h2 style="margin-top:20px">Oeuvre</h2>
        <div class="btn-group btn-group-justified">
          <button routerLink="/addLivre" routerLinkActive="active" class="btn btn-secondary button2 float-right">Ajouter livre</button>
          <button routerLink="/addMagazine" routerLinkActive="active" class="btn btn-secondary button2 float-left">Ajouter magazine</button>
        </div>
        <button routerLink="/oeuvres" routerLinkActive="active" class="btn btn-secondary button">Liste oeuvres</button>
      </div>

    </div>
  </div>
</div>
