<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Usager</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/add" routerLinkActive="active">Ajouter Usager</a>
        </li>
        <li class="nav-item">
          <a routerLink="/usagers" routerLinkActive="active">Liste usager</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Oeuvre</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addLivre" routerLinkActive="active">Ajouter livre</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addMagazine" routerLinkActive="active">Ajouter magazine</a>
        </li>
        <li class="nav-item">
          <a routerLink="/oeuvres" routerLinkActive="active">Liste oeuvre</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card-body">
    <h3>Modifier exemplaire</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Etat</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="exemplaire.etat" name="Etat">
      </div>
      <button style='margin-right:16px' class="btn btn-success">Enregistrer</button>
      <button style='margin-right:16px' (click)="annuler()" class="btn btn-success">Annuler</button>
    </form>
  </div>
</div>


