<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Emprunt</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addEmprunt" routerLinkActive="active">Créer un emprunt</a>
        </li>
        <li class="nav-item">
          <a routerLink="/emprunts" routerLinkActive="active">Voir les emprunts</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Réservation</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addReservation" routerLinkActive="active">Ajouter réservation</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reservations" routerLinkActive="active">Liste réservation</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card-body">
    <div class="panel panel-primary">

      <div class="container text-center">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>

      <div class="panel-heading">
        <h2>Liste exemplaire</h2>
      </div>

      <div class="panel-body">
        <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th >Identifiant</th>
            <th >Etat</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let exemplaire of exemplaires | async">
            <td>{{exemplaire.id}}</td>
            <td>{{exemplaire.etat}}</td>
            <td>
              <button style='margin-right:16px' (click)="addEmprunt(exemplaire.id)" class="btn btn-success">Créer emprunt</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <button style='margin-right:16px' (click)="addEmprunt2()"  class="btn btn-success">Retour</button>
    </div>
  </div>
</div>




