<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Usager</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/add" routerLinkActive="active">Ajouter Usager</a>
        </li>
        <li class="nav-item">
          <a routerLink="/usagers" routerLinkActive="active">Liste usager</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Oeuvre</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addLivre" routerLinkActive="active">Ajouter livre</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addMagazine" routerLinkActive="active">Ajouter magazine</a>
        </li>
        <li class="nav-item">
          <a routerLink="/oeuvres" routerLinkActive="active">Liste oeuvre</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card-body">
    <div class="panel panel-primary">

      <div class="container text-center">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>

      <div class="panel-heading">
        <h2>Liste exemplaire</h2>
      </div>

      <div class="panel-body">
        <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th >Identifiant</th>
            <th >Etat</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let exemplaire of exemplaires | async">
            <td>{{exemplaire.id}}</td>
            <td>{{exemplaire.etat}}</td>
            <td>
              <button style='margin-right:16px' (click)="isEmprunt(exemplaire.id)" class="btn btn-danger">Delete</button>
              <button style='margin-right:16px' (click)="updateExemplaire(exemplaire.id)" class="btn btn-success" style="margin-left: 16px">Modifier</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <button style='margin-right:16px' (click)="addExemplaire()" class="btn btn-success">Ajouter</button>
      <button style='margin-right:16px' routerLink="/oeuvres" routerLinkActive="active"  class="btn btn-success">Retour</button>
    </div>
  </div>
</div>




