<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="navbar-brand" href="#">Bibliotheque</a>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Emprunt</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addEmprunt" routerLinkActive="active">Créer un emprunt</a>
        </li>
        <li class="nav-item">
          <a routerLink="/emprunts" routerLinkActive="active">Voir les emprunts</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="navbar-brand" data-toggle="dropdown" href="#">Réservation</a>
      <ul class="dropdown-menu">
        <li class="nav-item">
          <a routerLink="/addReservation" routerLinkActive="active">Ajouter réservation</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reservations" routerLinkActive="active">Liste réservation</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card-body">
    <div class="panel panel-primary">

      <div class="container text-center">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>

      <div class="panel-heading">
        <h2>Liste emprunts</h2>
      </div>

      <div class="panel-body">

        <div style="margin-bottom:40px" class="d-flex flex-row">

          <div style='margin-right:20px'>
            <label for="name">Nom usager</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="usagerNom" name="nom">
          </div>

          <div style='margin-right:60px'>
            <label for="name">Titre oeuvre</label>
            <input type="text" class="form-control" id="titre" required [(ngModel)]="oeuvreTitre" name="oeuvre">
          </div>

          <div class="d-flex flex-column" style='margin-right:20px'>
            <button style="height: 40px" (click)="getEmpruntByUsagerNameAndOeuvreTitre()"  class="btn btn-success text-center mt-auto">Rechercher</button>
          </div>

          <div class="d-flex flex-column">
            <button style="margin-right:20px; height: 40px;" (click)="clear()" class="btn btn-dark text-center mt-auto">Effacer</button>
          </div>
        </div>

        <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

          <thead>
          <tr>
            <th >Date</th>
            <th >Id exemplaire</th>
            <th >Usager</th>
            <th >Nom oeuvre</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let emprunt of emprunts | async" >
            <td>{{emprunt.date}}</td>
            <td>{{emprunt.exemplaire_id}} </td>
            <td>{{emprunt | empruntUsager | async}}</td>
            <td>{{emprunt | empruntOeuvre | async}}</td>
            <td>
              <button style='margin-right:16px' (click)="rendreOeuvre(emprunt.id)" class="btn btn-danger">Fin emprunt</button>
            </td>
          </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>

