<style>
.button {
  height:420px;
  width:420px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 0px 40px;
  cursor: pointer;
}
</style>

<div class="container">
  <div class="card-body">
    <h1 style="text-align: center">Bibliotheque municipale de Nancy</h1>
    <div class="container" style="margin-top:100px;text-align: center">
        <button routerLink="/front" routerLinkActive="active" class="btn btn-dark button pull-left">Client</button>
        <button routerLink="/back" routerLinkActive="active" class="btn btn-secondary button pull-right">Administration</button>
    </div>
  </div>
</div>
